body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-theme {
    background-color: #3e502d;
    color: #f4f4f4;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #e2e2e2;
    margin-bottom: 20px;
}

body.dark-theme header {
    background-color: #444;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #007BFF;
}

section {
    margin-bottom: 30px;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 25%;
    text-align: center;
    margin-bottom: 10px;
}

body.dark-theme .card {
    background-color: #555;
    border-color: #666;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

input, button {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

body.dark-theme button {
    background-color: #0056b3;
}